@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
  h6 {
    @apply text-lg;
  }
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply w-full rounded-md border-border bg-background-secondary focus:border-primary-light focus:ring-primary-light;
  }
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: transparent !important;
}
.hud {
  position: fixed;
  line-height: normal;
}

#AppFrame,
#HomeLogo,
#TopBar {
  -webkit-app-region: drag;
}

.noDrag {
  -webkit-app-region: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: oklch(var(--border-color));
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: oklch(var(--background-hover));
  border-radius: 5px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: rgb(43, 57, 77);
} */

.dark {
  --background-primary: 0.21 0.006 285.885; /* main background color */
  --background-secondary: 0.274 0.006 286.033; /* spacing, secondary elements */
  --background-light: 0.37 0.013 285.805; /* slightly lighter for hover */
  --background-hover: 0.552 0.016 285.938; /* even lighter for light background */
  --text-color: 1 0 0; /* White */
  --border-color: 0.37 0.013 285.805; /* same as hover */
  --button-color: 0.72 0.18 142.08; /* Medium Green */
  --button-text: 1 0 0; /* White */
  --primary: 0.588 0.158 241.966;
  --primary-light: 0.685 0.169 237.323;
  --primary-dark: 0.5 0.134 242.749;
  --secondary: 0.645 0.246 16.439; /* Bright Red */
  --secondary-light: 0.712 0.194 13.428; /* Light Red */
  --secondary-dark: 0.586 0.253 17.585; /* Dark Red */
  --text: 1 0 0; /* White */
  --text-secondary: 1 0 0 / 0.7; /* Semi-transparent White */
  --text-disabled: 1 0 0 / 0.5; /* More Transparent White */
  background: oklch(var(--background-secondary));
}

.light {
  --background-primary: 1 0 0; /* White */
  --background-secondary: 0.94 0 0; /* Light Gray */
  --background-hover: 0.86 0 0; /* Gray */
  --background-light: 0.78 0 0; /* Darker Gray */
  --text-color: 0 0 0; /* Black */
  --border-color: 0.78 0 0; /* Darker Gray */
  --button-text: 1 0 0; /* White */
  --primary: 0.588 0.158 241.966;
  --primary-dark: 0.685 0.169 237.323;
  --primary-light: 0.588 0.158 241.966;
  --secondary: 0.62 0.32 27.36; /* Red */
  --secondary-light: 0.78 0.32 27.36; /* Light Red */
  --secondary-dark: 0.42 0.32 27.36; /* Dark Red */
  --text: 0 0 0; /* Black */
  --text-secondary: 0 0 0 / 0.7; /* Semi-transparent Black */
  --text-disabled: 0 0 0 / 0.5; /* More Transparent Black */
  background: oklch(var(--background-secondary));
}

.colorful {
  --background-primary: 0.15 0.06 142.08; /* Darker Evergreen */
  --background-secondary: 0.1 0.06 142.08; /* Even Darker Evergreen */
  --background-hover: 0.2 0.06 142.08; /* Muted Dark Evergreen */
  --background-light: 0.25 0.06 142.08; /* Lighter Muted Dark Evergreen */
  --text-color: 0.9 0 0; /* Off-White */
  --border-color: 0.25 0.06 142.08; /* Muted Dark Evergreen */
  --button-color: 0.2 0.1 142.08; /* Muted Bright Dark Evergreen */
  --button-text: 0.9 0 0; /* Off-White */
  --primary: 0.4 0.1 302.4; /* Muted Purple */
  --primary-light: 0.6 0.1 302.4; /* Light Muted Purple */
  --primary-dark: 0.2 0.1 302.4; /* Dark Muted Purple */
  --secondary: 0.3 0.2 264.72; /* Dark Muted Sky Blue */
  --secondary-light: 0.5 0.2 264.72; /* Light Muted Sky Blue */
  --secondary-dark: 0.2 0.2 264.72; /* Darker Muted Sky Blue */
  --text: 0.9 0 0; /* Off-White */
  --text-secondary: 0.9 0 0 / 0.7; /* Semi-transparent Off-White */
  --text-disabled: 0.9 0 0 / 0.5; /* More Transparent Off-White */
  background: oklch(var(--background-secondary));
}
