.observed_container {
  position: fixed;
  width: 20rem;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  height: 140px;
  display: flex;
  color: white;
  background-color: var(--sub-panel-color);
  border: 1px solid rgba(255, 255, 255, 0.5);
  .avatar_holder {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    // border-right: 1px solid rgba(255, 255, 255, 0.5);
    background-color: var(--sub-panel-color-full, 1);

    .roundkills-container,
    .roundkills-container-dead {
      position: absolute;
      width: 25px;
      height: 25px;
      top: 4px;
      right: 4px;
      .player_skull,
      .dead_player_skull {
        position: absolute;
        width: 25px;
        height: 25px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          max-height: 25px;
          max-width: 25px;
        }
      }
      .player_round_kills_text,
      .dead_player_round_kills_text {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 25px;
        height: 25px;
        font-size: 14px;
        font-weight: 600;
        color: white;
      }
    }

    .avatar {
      align-self: flex-end;
      display: flex;
      position: relative;
      width: 140px;
      height: 140px;
    }

    &.T {
      .roundkills-container .player_skull,
      .roundkills-container-dead .dead_player_skull {
        svg {
          fill: var(--color-new-t);
        }
      }
    }
    &.CT {
      .roundkills-container .player_skull,
      .roundkills-container-dead .dead_player_skull {
        svg {
          fill: var(--color-new-ct);
        }
      }
    }
  }

  .observed {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 3px;

    .main_row,
    .stats_row,
    .utility_row,
    .health_row,
    .ammo_row {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 25%;
    }

    .main_row {
      font-weight: 600;
      gap: 5px;
      .logo {
        height: 43px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .username_container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .username {
          font-size: 28px;
          color: white;
        }
      }
    }
    .utility_row {
      .grenade_container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .weapon.grenade {
          height: 25px;
          width: 25px;
          /*filter: invert(1);*/
        }
      }
      .bomb_kit_container {
        .bomb_indicator,
        .defuse_indicator {
          svg {
            height: 25px;
            width: 25px;
            fill: var(--color-moneys);
          }
        }
      }
    }
    .ammo_row {
      .ammo {
        height: 100%;
        display: flex;
        justify-content: center;
        gap: 5px;
        .ammo_counter {
          display: flex;
          font-weight: 600;
          justify-content: flex-end;
          align-items: center;
          font-size: 18px;
          > div {
            display: flex;
            align-items: center;
          }
          .ammo_clip {
            justify-content: flex-end;
          }
          .ammo_reserve {
            justify-content: flex-start;
          }
        }
        .ammo_icon_container {
          display: flex;
          height: 100%;
          align-items: center;
          justify-content: flex-end;
          svg {
            width: 20px;
            height: 20px;
            fill: white;
          }
        }
      }
    }

    .health_row {
      .health_armor_container {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        gap: 0.5rem;
        // border-radius: 5px;
        overflow: hidden;
        .healthbar-container {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          .healthbar {
            height: 100%;
            background-color: transparent;
            transition-property: width;
            transition-duration: 0.1s;
            transition-timing-function: ease;
          }
        }
        .text {
          display: flex;
          align-items: center;
          font-weight: 600;
          font-size: 21px;
          height: 100%;
          padding-top: 2px;
          z-index: 1;
        }

        .icon {
          display: flex;
          width: 22px;
          align-items: center;
          z-index: 1;
          svg {
            max-height: 30px;
            max-width: 22px;
            fill: white;
          }
        }
      }
    }

    .sidebar {
      width: 10px;
      height: 100%;
      position: absolute;
      &:first-child {
        left: -10px;
      }
      &:last-child {
        right: -10px;
      }
    }
    .flag {
      height: 43px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 43px;
      }
    }

    &.T {
      .main_row .username_container,
      .ammo_row .ammo .ammo_counter .ammo_reserve {
        color: var(--color-new-t);
      }
      .sidebar {
        background-color: var(--color-new-t);
      }
      .health_row .health_armor_container .healthbar-container .healthbar {
        background-color: var(--color-new-t);
      }
      .ammo_row .ammo .ammo_icon_container {
        svg {
          fill: var(--color-new-t);
        }
      }
    }
    &.CT {
      .main_row .username_container,
      .ammo_row .ammo .ammo_counter .ammo_reserve {
        color: var(--color-new-ct);
      }
      .sidebar {
        background-color: var(--color-new-ct);
      }
      .health_row .health_armor_container .healthbar-container .healthbar {
        background-color: var(--color-new-ct);
      }
      .ammo_row .ammo .ammo_icon_container {
        svg {
          fill: var(--color-new-ct);
        }
      }
    }
  }

  #cameraFeed {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    transform: scale(0.94);
    left: 0px;
    bottom: 0;
    transform-origin: bottom left;
    iframe {
      position: relative;
      border: none;
      width: 750px;
      height: 300px;
    }
  }
}
